<input type="text" placeholder="Focus me and hit TAB">
<br>
<BasicDropdown as |dd|>
  <dd.Trigger @onFocus={{action "openDropdown"}} class="trigger-bootstrap-feel">Click me</dd.Trigger>

  <dd.Content class="content-bootstrap-feel width-300">
    <p>Tada!</p>
  </dd.Content>
</BasicDropdown>