<div class="basic-dropdown-default-class" ...attributes>
  {{yield (hash
    trigger=(component (or @triggerComponent "basic-dropdown-trigger"))
    content=(component (or @contentComponent "basic-dropdown-content"))
  )}}
</div>
