<h2 id="title">Welcome to Ember</h2>

<BasicDropdown class="my-wrapper" as |dd|>
  <dd.Trigger class="my-trigger" title="the-title">Click me</dd.Trigger>
  <dd.Content class="my-content">Things inside</dd.Content>
</BasicDropdown>

<p>Some text</p>
<p>Some text</p>
<p>Some text</p>
<p>Some text</p>
<p>Some text</p>